<div class="container">
  <h1>Bienvenido a Dsitriservicios controller</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget metus aliquet, fermentum magna non, vestibulum
    neque. Integer nec ex at justo convallis volutpat ac non arcu. Morbi facilisis purus eget ipsum ultricies, vel
    dictum nisl viverra. Fusce vitae nulla eu metus congue tincidunt. Integer convallis efficitur quam nec efficitur.
  </p>
  <div class="info-container">
    <div class="info-card">
      <h2>Información 1</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget metus aliquet, fermentum magna non,
        vestibulum
        neque. Integer nec ex at justo convallis volutpat ac non arcu. Morbi facilisis purus eget ipsum ultricies, vel
        dictum nisl viverra.
      </p>
    </div>
    <div class="info-card">
      <h2>Información 2</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget metus aliquet, fermentum magna non,
        vestibulum
        neque. Integer nec ex at justo convallis volutpat ac non arcu.
      </p>
    </div>
    <div class="info-card">
      <h2>Información 3</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget metus aliquet, fermentum magna non,
        vestibulum
        neque.
      </p>
    </div>
  </div>
</div>