<div class="container">
  <div class="header">
    <img src="/assets/img/icono.png" alt="Logo de la Empresa" class="logo">
    <h1 class="company-name">Distriservicios</h1>
  </div>
  <div class="container">
    <h1>Consulta de Factura</h1>
    <form (submit)="consultarFactura()">
      <label for="numeroFactura">Número de Factura:</label>
      <input type="text" id="numeroFactura" name="numeroFactura" [(ngModel)]="numeroFactura">
      <button type="submit">Consultar</button>
    </form>
    <div *ngIf="facturaConsultada">
      <h2>Detalles de la Factura</h2>
      <p>Número de Factura: {{ factura.numero }}</p>
      <p>Fecha de Emisión: {{ factura.fechaEmision }}</p>
      <p>Total: {{ factura.total }}</p>
      <!-- Agregar más detalles de la factura según sea necesario -->
    </div>
  </div>